html,
body {
    margin: 0;
    background-color: #F7FAFC;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

code {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}