html,
body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    min-height: -webkit-fill-available;
    background-color: #F7FAFC;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    overflow: hidden;
}

code {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}